body{
    height: 100vh;
    background: radial-gradient(hsl(0, 0%, 100%),#86f396 );
}

header{
    text-align: center;
    color: rgb(255, 27, 27);
    font-size: 50px;
}

iframe.maps{
    height: 350px;
    width: 500px;
    margin-left: 15%;
}

p.ubicacion{
    color: rgb(255, 27, 27);
    font-size: 25px;
    margin-left: 25%;
}

p.redes{
    position: relative;
    font-size: 25px;
    color: rgb(255, 27, 27);
    top: -44.5%;
    margin-left: 67%;
}

p.telefono{
    position: relative ;
    text-align: center;
    color: rgb(255, 27, 27);
    font-size: 25px;
    top: -45%;
}

img.phone{
    position: relative;
    height: 100px;
    margin-left: 46%;
    top: -45%;
}

img.instagram{
    position: relative;
    height: 125px;
    margin-left: 55%;
    top: -45%;
}

img.facebook{
    position: relative;
    height: 100px;
    margin-left: 65%;
    top: -44%;
}

img.twitter{
    position: relative;
    height: 125px;
    margin-left: 77%;
    top: -43%;
}
